<div class="row" style="position: relative;  margin-top: 100px; z-index: -1;">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
    <div class="card1">
        <img src="asset/img1.jpg" alt="manish" style="width:100%">
        <h1>MANISH KUMAR</h1>
        <p class="title">SOFTWARE ENGINEER</p>
        <p>Newgen Software Limited</p>
        <div>
        <!-- <a href="#"><i class="fa fa-dribbble"></i></a> -->
        <!-- <a href="#"><i class="fa fa-twitter"></i></a> -->
        <a href="https://www.linkedin.com/in/manish-kumar-45119813a/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/manish.dhiman.758399"><i class="fa fa-facebook"></i></a>
        </div>
        <p><button id="pbutton" ng-click="contact()">Contact</button></p>
      </div>
      </div>
      <div class="col-sm-4">
    <div class="card1">
        <img src="asset/img2.jpg" alt="John" style="width:100%">
        <h1>TUSHAR</h1>
        <p class="title">SOFTWARE ENGINEER</p>
        <p>Newgen Software Limited</p>
        <div>
        <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a> -->
        <a href="https://in.linkedin.com/in/tushar-kaushik-784948110"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/tushar.kaushik.526"><i class="fa fa-facebook"></i></a>
        </div>
        <p><button id="pbutton" ng-click="contact()">Contact</button></p>
      </div>
      </div>
</div>